
/* NAVBAR */
.custom-navbar {
  background-color: #CEA2E6;      /* light purple */
  height: 161px;
  display: flex;
  align-items: center;
}


.custom-navbar .nav-link {
  margin-left: 1.5rem;
}

/* HEADER */
.hero-section {
  background-color: #AFE4E8;      /* aqua background */
  height: 401px;
  border-top: none;               /* connects to navbar border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* BUTTON */
.hero-btn {
  position: absolute;
  left: 120px;
  top: 230px;
}

